body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "RecordaScript";
  src: local("RecordaScript"),
    url("./fonts/RecordaScript/RecordaScript_Personal_Use_Only.ttf") format("truetype");

}

@font-face {
  font-family: "BooRush";
  src: local("BooRush"),
    url("./fonts/BooRush/BooRush (DEMO).otf") format("truetype");
}

@font-face {
  font-family: "AristaLight";
  src: local("AristaLight"),
    url("./fonts/AristaLight/[z] Arista light.ttf") format("truetype");
}